body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h2{
  text-align: center;
}
table{
  border : 2px solid black;
  border-collapse : collapse;
  margin : auto;
  margin-bottom: 1%;
}
th, td {
  border: 1px solid black;
  padding: 1% 5px 1% 5px; /* 위 오른쪽 아래 왼쪽 */
  text-align: center;
}
.find-btn{
  text-align: center;
}