body{
  font-family: -apple-system, blinkmacsystemfont, helvetica neue, apple sd gothic neo, sans-serif;
}

h2{
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer
}

a:link,a:visited {
  color: #000;
  text-decoration: none
}


a:hover {
  color: #009688;
}

table{
  border : 2px solid black;
  border-collapse : collapse;
  margin : auto;
  margin-bottom: 1%;
}

th, td {
  border: 1px solid black;
  padding: 1% 5px 1% 5px; /* 위 오른쪽 아래 왼쪽 */
  text-align: center;
}

.find-btn{
  text-align: center;
}