{% include 'layout.html' %}
    <table border="1">
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{post.id}}</td>
            <td><a href="read-post/{{post.id}}">{{post.title}}</a></td>
            <td>{{post.username}}</td>
            <td><button onclick="window.location.href='edit-post/{{post.id}}'" type="button">Edit</button></td>
        </tr>
        {% endfor %}
    </table>
<div class="find-btn">
    <a href="add-post"><button>New Post</button></a>
</div>