{% include 'layout.html' %}
<form method="POST" action="/auth/register">
<table border="1" class="other-table">
    <tr>
        <th>Username</th>
        <td>
            <input type="text" name="username" required>
        </td>
    </tr>
    <tr>
        <th>Password</th>
        <td>
            <input type="password" name="password" required>
        </td>
    </tr>
    <tr>
        <th>Verify Password</th>
        <td>
            <input type="password" name="password2" required>
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <input type="email" name="email" required>
        </td>
    </tr>
</table>
<div class="inregister-btn">
    <button type="submit">Sign in</button>
</form>
    <button onclick="window.location.href='/auth'" type="button">Already account</button>
</div>